.App {
  width: 1140px;
  margin: 0 auto;
}

.app-logo {
  height: auto;
  width: 150px;
  pointer-events: none;
}

.app-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.App-link {
  color: #61dafb;
}
